.headMinePage {
  padding: 20px 10px;
  background-color: #203040;
  color: #fff;
  font-size: 20px;
}

.MainSection {
  display: flex;
  padding: 0px 40px;
  margin: 0 auto;
}

@media only screen and (min-width: 1400px) {
  .MainSection {
    width: 1400px;
    display: flex;
    padding: 0px 40px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1350px) {
  .MainSection {
    display: flex;
    flex-direction: column;
    padding: 0px 40px;
    margin: 0 auto;
  }
}

.ProductSection {
  flex: 3;
  margin-right: 10px;
}

.heaadSectionProduct {
  border-bottom: 1px solid rgb(95, 91, 91);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}

.ProductsShow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.SingelOrder {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 20px 5px;
}

.IntroduseProduct {
  text-align: center;
  margin: 20px 0;
}

.FoterSingelPruduct {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px 5px;
}

.AddToCart {
  background-color: rgb(250, 229, 114);
  border: none;
  padding: 10px;
}

.OrderSection {
  flex: 1;
  margin-left: 10px;
  margin: 0 auto;
  text-align: center;
  width: 400px;
}

.HeadSectonOrder {
  text-align: center;
  border-bottom: 1px solid rgb(95, 91, 91);
  padding: 20px 0;
}

/*************************My Order Show Section *************/

.MyOrderShowSection {
}

.singelOrder {
  display: flex;
  padding: 20px;
}

.imgOrder {
  width: 50px;
  height: 63px;
}

.explainOrder {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  text-align: center;
  margin-left: 15px;
}

.removeOrder {
  padding: 10px 25px;
  border-radius: 5px;
  border: 1px solid rgb(156, 154, 154);
  cursor: pointer;
  margin-left: 10px;
}

.Payment {
  background-color: yellow;
  padding: 10px 20px;
  cursor: pointer;
}

.divPayment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 30px;
}

/************* modal Div *********/

.modalDiv{
  display: flex;
  width: 80vw;
  height: 80vh;
  border: 1px solid rgb(160, 151, 151);
  padding: 20px 10px;
  position: fixed;
  top: 5vh;
  left: 10vh;
  background-color: white;
}

.imageModal{
  max-width: 400px; 
}

.baseModal{
  position: relative;
}

.divModalAddCart{
  display: flex;
  justify-content: space-between;
  margin: 0px 20px;
}

.explainOrderModal {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-left: 15px;
}

.DivClose{
  display: flex;
  justify-content: space-between;
}

